@charset "UTF-8";

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.image {
    height: auto;
    max-width: 100%;
    width: 100%;
}

.container {
    margin: 20px;
}

#cvs-container {
    max-width: 640px;
}

#cvs-main {
    display: block;
}

#input-container-outer {
    max-width: 640px;
}

#input-container {
    display: inline-block;
    margin-top: 20px;
    width: 265px;
}

#label-container {
    display: inline-block;
    width: 110px;
}

#text-container {
    display: inline-block;
    width: 150px;
}

#slider-container {
    display: inline-block;
    margin-top: 20px;
    padding: 0 9px;
    width: calc(100% - 270px);
}

#txt-main {
    width: 100%;
}

@media screen and (max-width: 500px){

    #input-container {
        width: 100%;
    }

    #text-container {
        display: inline-block;
        width: calc(100% - 115px);
    }

    #slider-container {
        display: block;
        width: 100%;
    }
}